.test {
  color: #d4c5e2;
}
.papaya {
  background-color: #ddbea9;
}
.fawn {
  color: #ccd5ae;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e9edc9;
}

#projects {
  background-color: #e9edc9;
}
section {
  padding-top: 7rem;
}

i {
  padding: 1rem;
}
